@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */



@layer base{
  h1, h2, h3, h4, h5{
   /* @apply font-heading text-fontColorHeading */
   @apply font-deAetna
  }
  h1{
    @apply  text-4xl md:text-7xl
  }
  h2{
    @apply text-3xl md:text-5xl
  }
  h3{
    @apply  text-2xl md:text-2xl
  }
  h4{
    @apply  text-lg md:text-xl
  }
  h5{
    @apply text-sm md:text-base
  }

  p{
    /* @apply text-base font-body text-fontColor */
    @apply font-amiamie
  }
  
  a{
    @apply text-base
  }

  .l1-r{
    @apply font-normal text-xl
  }
  .l1-b{
    @apply font-semibold text-xl
  }
  .l2-r{
    @apply font-normal text-base
  }
  .l2-b{
    @apply font-semibold text-base
  }
  .l3-r{
    @apply font-normal text-sm 
  }
  .l3-b{
    @apply font-semibold text-sm
  }
  .l4-r{
    @apply font-normal text-xs
  }
  .l4-b{
    @apply font-semibold text-xs
  }

  .p1-r{
    @apply text-base font-normal
  }
  .p1-b{
    @apply text-base font-medium
  }
  .p2-r{
    @apply text-sm font-normal
  }
  .p2-b{
    @apply text-sm font-medium
  }
  .p3-r{
    @apply text-xs font-normal
  }
  .p3-b{
    @apply text-xs font-medium
  }
}


@layer components{
  .btn {
    @apply rounded-none font-deAetna normal-case text-base text-White flex-1;
  }
  /* .btn-secondary {
    @apply bg-secondary text-White;
  } */
  .btn-accent {
    @apply bg-transparent text-tertiary border-tertiary border;
  }
  
  .btn-accent:hover {
    @apply text-White;
  }
}

@layer utilities{
  .btn-shadow-primary{
    box-shadow: 0px 5px 10px 2px rgba(214, 180, 178, 0.60);
    @apply transition-all ease-in-out duration-75
  }
  
  .btn-shadow-secondary{
    box-shadow: 0px 5px 10px 2px rgb(209 176 176 / 0.2);
    @apply transition-all ease-in-out duration-75
  }

  .birthdayCard {
    /* transform: perspective(2500px) rotate(5deg); */
    transform: perspective(2500px);
    /* box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 0 10px 100px rgba(0, 0, 0, 0.5); */
   }
   
   .birthdayCard .cardFront {
    transform: rotateY(-160deg);
    @apply bg-guestBookInsideLeft bg-contain bg-no-repeat bg-transparent
   }
   
   .birthdayCard .titleGuestBook {
    visibility: hidden;
   }
}

/* Add this CSS to your component's CSS file or style block */
@keyframes wiperAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Adjust the value based on your desired range of motion */
  }
  100% {
    transform: translateX(0);
  }
}

.animate-wiper {
  animation: wiperAnimation 2s infinite; /* Adjust the animation duration as needed */
}
