@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer base{
  h1, h2, h3, h4, h5{
   /* @apply font-heading text-fontColorHeading */
   @apply text-fontColorHeading
  }

  p{
    /* @apply text-base font-body text-fontColor */
    @apply text-base text-fontColor
  }
  
  a{
    @apply text-base
  }
}


@layer utilities{
  .btn-shadow-primary{
    box-shadow: 0px 5px 10px 2px rgba(214, 180, 178, 0.60);
    @apply transition-all ease-in-out duration-75
  }
  
  .btn-shadow-secondary{
    box-shadow: 0px 5px 10px 2px rgb(209 176 176 / 0.2);
    @apply transition-all ease-in-out duration-75
  }
}